/* var(--light) & var(--dark) are defined in ymb.css */

:root {
    --fill-color: none;
    --stroke-color: var(--dark);
}
@media not (prefers-color-scheme: dark) {
    :root {
        --stroke-color: var(--dark);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --stroke-color: var(--light);
    }
}
path {
    fill: var(--fill-color);
    stroke: var(--stroke-color);
    stroke-width: 5px;
    overflow: visible;
}
#grid {
    stroke-width: 1px;
    stroke: #666666;
}
#license {
    display: none;
}